* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav {
    height: 80px;
    width: 100%;
    background-color:whitesmoke;
    top: 0%;  
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logo {
    font-family: Viner Hand ITC;
    font-weight: bold;
    font-size: 50px;
}

label.logo a {
    color: rgb(60, 6, 6);
    margin: 0% auto;
}

li {
    list-style: none;
}

li a {
    color: black;
    font-weight: bold;
}
li a:hover , a.active{
    color: brown;
    border-bottom: 2px solid orange;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:100px;
    
}
.checkbtn{
    font-size: 30px;
    color: black;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    visibility: hidden;   
}
#check{
display: none; 
}



/* div-container */
.div-container{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.div-container img{
    width: 100%;
    height: 100%;
}
.div-container h1{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 50px;
}


/* online-reservation */
.reservation{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color:white;  
    gap: 30px;
}
.word{
    height: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 5px; 
}
.word h1{
    font-family: Bradley Hand ITC;
    font-weight: bold;
}
.word p{
    font-family: Calibri;
    
}

.input-div{
    display: flex;
    width: 80%;
    height: max-content;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
   
}

.input-div1{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 80%;
    gap:20px;
}

 .input-div1 label input{
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgb(201, 219, 230);
 }
 .input-div1 textarea{
    height: 200px;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgb(201, 219, 230);
 }

 .input-div2{
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: start;
    height: max-content;
    width: 30%;
    gap: 20px;
    padding: 10px 10px;
}
 .input-div2 h4{
    color: orange;
 }
 .input-div2 h5{
    color: rgb(59, 63, 66);
 }
 .input-div2 .fa-brands{
    margin: 20px 10px;
    color: orange;
 }


 label button{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-color: orange;
    background-color: transparent;
 }


 /* maps */
 .maps{
    width: 100%;
    height: 400px;

   }
   .maps iframe{
    width: 100%;
    height: 100%;
   }

   /* footer */

   .footer{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(2, 1, 14);
    color: gray;
   }
   .footer1{
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px 10px;
   }
   .footer2{
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px 10px;
   }
   .footer3{
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px 10px;
   }

   .footer1 p, .footer2 p, .footer3 p{
    color: orange;
   }
   .footer2 h2{
    color: orange;
    font-size: 20px;
   }
   .footer2 .fa-instagram{
    color: gray;
   }
   .rights span{
    color: orange;
   }


    
   @media(max-width:1300px){
    nav{
        height: max-content;
        background-color: #fff;
        justify-content: space-between;
        width: 100%;  
    }
    .logo{
        visibility: visible;
        top:0%;
        position: absolute;
        left: 50px;
    }
    nav ul{
        flex-direction: column; 
        background-color: rgb(214, 209, 209);
        justify-content: center;
        align-items: first baseline;
        gap:30px;
        padding-top: 100px;
        width: 100%;
        padding-left: 40px;
        visibility: hidden;
        transition: all .5s;       
    }
    nav ul li{
        display: none;
    }
    
    .checkbtn{
        position: absolute;
        top: 0;
        visibility: visible;
        right:100px;
    }
    #check:checked~ul{
        visibility: visible;
        
    }
    #check:checked~ul li{
        display: block;
    }

    /* online-reservation */
.reservation{
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color:white;  
    gap: 30px;
}
.word{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 5px; 
}
.word h1{
    font-family: Bradley Hand ITC;
    font-weight: bold;
}
.word p{
    font-family: Calibri;
    
}

.input-div{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
   
}

.input-div1{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 40%;
    gap:20px;
    margin-left:5% ;
   
}

 .input-div1 label input{
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgb(201, 219, 230);
 }
 .input-div1 textarea{
    height: 200px;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgb(201, 219, 230);
 }

 .input-div2{
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: start;
    height: max-content;
    width: 60%;
    gap: 20px;
    padding: 10px 10px;
}
 .input-div2 h4{
    color: orange;
 }
 .input-div2 h5{
    color: rgb(59, 63, 66);
 }
 .input-div2 .fa-brands{
    margin: 20px 10px;
    color: orange;
 }


 label button{
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-color: orange;
    background-color: transparent;
 }


  /* footer */
    
  .footer{
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(2, 1, 14);
    color: gray;
   }
   .footer1{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px 10px;
   }
   .footer2{
    height: max-content;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px 10px;
   }
   .footer3{
    height: 45%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px 10px;
   }

   .footer1 p, .footer2 p, .footer3 p{
    color: orange;
   }
   .footer2 h2{
    color: orange;
    font-size: 20px;
   }
   .footer2 .fa-instagram{
    color: gray;
   }
   .rights span{
    color: orange;
   }
   .rights{
    padding: 10px 50px;
    text-align: center;
   }

}